php_value max_execution_time 300
php_value max_input_time 300

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

# BEGIN WordPress

# END WordPress